<button
  class="inline-flex h-12 items-center justify-center rounded-lg bg-neutral-950 px-6 font-medium text-neutral-50 shadow-lg shadow-neutral-500/20 transition active:scale-95"
>
  <slot />
</button>
