---
import ArrowUpRight from "../icons/ArrowUpRight.astro";
---

<section
  id="about-me"
  class="grid grid-cols-12 mt-10 xl:px-10 gap-y-5 xl:gap-10 xl:gap-y-0"
>
  <!-- About Me -->
  <div class="col-span-12 xl:col-span-7 flex flex-col gap-2">
    <h1 class="text-xl font-bold antialiased">About Me</h1>
    <p class="text-base leading-relaxed antialiased">
      Hello! I'm Syaiful, a software engineer based in Indonesia. I specialize
      in building web applications and have professional experience working with
      JavaScript, TypeScript, and React. I'm passionate about learning new
      technologies and sharing my knowledge with others. In my free time, I
      enjoy reading books, playing video games, and watching movies. Feel free
      to contact me if you have any questions or just want to say hi!
    </p>
  </div>

  <!-- Info -->
  <div
    class="col-span-12 xl:col-span-5 grid grid-cols-2 grid-rows-2 gap-y-5 xl:gap-y-0"
  >
    <div class="flex flex-col gap-2">
      <h2 class="text-base font-bold text-gray-500 antialiased">Location</h2>
      <p class="text-base antialiased">Jakarta, Indonesia</p>
    </div>
    <div class="flex flex-col break-words gap-2">
      <h2 class="text-base font-bold text-gray-500 antialiased">Email</h2>
      <a
        href="mailto:syaifulhuseinnn@gmail.com"
        class="text-base antialiased hover:underline"
        >syaifulhuseinnn@gmail.com</a
      >
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-base font-bold text-gray-500 antialiased">
        WhatsApp Number
      </h2>
      <span class="inline-flex gap-1.5 items-center">
        <a
          target="_blank"
          href="https://wa.me/6282168192289"
          class="text-base antialiased hover:underline">+6282168192289</a
        >
        <ArrowUpRight width="20" height="20" color="black" />
      </span>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-base font-bold text-gray-500 antialiased">LinkedIn</h2>
      <span class="inline-flex gap-1.5 items-center">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/syaifulhuseinnn/"
          class="text-base antialiased hover:underline">@syaifulhuseinnn</a
        >
        <ArrowUpRight width="20" height="20" color="black" />
      </span>
    </div>
  </div>
</section>
